* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif ;
}

.style-1 {
  background-color: lightblue;
  color: white;
}

nav {
  color: white;
}


main section h2 {
  font-size: 35px;
  font-weight: bold;
}

.presentation h1{
  font-size: 60px;
  font-weight: bold;
}

.presentation h2{
  font-size: 35px;
}

#contacts a {
  font-size: 12px;
  font-weight: lighter;
}

.container {
  margin: 0 auto;
  width: 700px;
  padding: 40px 0;
}

h2 {
  margin-top: 0;
}

footer {
  background-color: black;
  color: white;
}

footer div {
  display: inline-block;
  width: 49%;
}

footer ul li a {
  text-decoration: none;
  color: white;
}

.banner section .side {
  display: inline-block;
  width: 49%;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.menu-link { 
  margin-left: 10px; 
} 