* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

/* Default */

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    margin-bottom: 8px;
}

h2 {
    margin-top: 0;
}


/*       */

.style-1 {
    background: linear-gradient( lightblue, rgb(59, 151, 207));
    color: white;
}

section>h2 {
    font-size: 2.1875rem;
    font-weight: bold;
}

.container {
    margin: 0 auto;
    width: 90%;
    padding: 40px 0;
}

section {
    padding: 0 20px;
}

h4,
h5,
h6 {
    margin: 5px 0;
}


/* Nav */

nav {
    color: white;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.menu-link {
    margin-left: 10px;
    color: white;
    text-decoration: none;
}

.menu-link:hover {
    background-color: blue;
    padding: 10px;
}

.menu-link {
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

#about {
    background-image: url(https://images.unsplash.com/photo-1531482615713-2afd69097998?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    position: relative;
}



#about:before {
    /* Overlay*/
    position: absolute;
    background-color: black;
    opacity: 0.45;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
}

#about * {
    position: relative;
    /* Makes elements display above overlay. */
}

/* Banner */

.banner {
    height: 500px;
}

.banner section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.presentation h1,
h2 {
    margin: 0;
}
.presentation{
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
}

.presentation h1 {
    font-size: 3.75rem;
    font-weight: bold;
}

.presentation h2 {
    font-size: 2.1875rem;
}

.presentation a {
    color: white;
    text-decoration: none;
}

.button {
    background-color: blue;
    border-radius: 25px;
    width: 120px;
    height: 35px;
    padding-top: 5px;
    text-align: center;
}

.banner img {
    border-radius: 25px;
}

/* About */

#about {
    height: 300px;
}

h2+h4 {
    font-size: 1.625rem;
}

#about p::first-letter {
    text-transform: capitalize;
}

#about p::selection {
    background-color: lightblue;
}


/* Skill */

.skill {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid white;
    width: 200px;
    margin: 10px 0;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill h5 {
    flex: 1;
    margin-right: 5px;
}

.skill meter {
    flex: 2;
}

.skill span {
    flex: 1;
}

meter::-webkit-meter-bar {
    border-radius: 10px;
}

meter::-webkit-meter-optimum-value {
    background: blue;
}


/*  Experience    */

.experience {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.small {
    flex: 1;
    margin-right: 10px;
}

.wide {
    flex: 2;
}

.experience img {
    width: 200px;
}

.desc {
    display: flex;
    flex-direction: column;
}


/* Footer */

footer {
    position: relative;
    background: url(https://zacjohnson.com/wp-content/uploads/2018/06/bigstock-160165061.jpg);
    background-size: contain;
    background-position: center;
    color: white;
    height: auto;
}

footer:before {
    /* Overlay*/
    position: absolute;
    background-color: black;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
}

footer * {
    position: relative;
    /* Makes elements display above overlay. */
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-links {
    margin-right: 20%;
}

.contact-links ul {
    display: flex;
    flex-direction: column;
}

#contacts a {
    font-size: 0.75rem;
    font-weight: lighter;
    color: white;
    margin: 5px 0;
    display: inline-block;
    height: 50px;
}

.logo-small {
    width: 40px;
}


.contact-links li {
    list-style: none;
}

footer li > a + p {
    display: none;
}
footer li > a:hover {
    display: inline-block;
}

footer li > a:hover + p {
    display: inline-block;
    position: absolute;
    border: 1px solid white ;
    border-radius: 25px;
    color: white;
    background-color: rgb(59, 151, 207);
    padding: 5px 10px;
    margin-left: 5px;
}



@media only screen and ( max-width: 480px) {
    html {
        font-size: 10px;
    }
    .menu {
        display: flex;
        flex-direction: column;
    }
    .menu-links {
        display: flex;
        flex-direction: column;
    }
    .banner {
        height: auto;
    }
    .banner section {
        display: flex;
        flex-direction: column;
    }
    .banner .image {
        order: 2;
    }
    .banner .presentation-container {
        order: 1;
    }
    .banner .presentation {
        align-items: center;
        text-align: center;
    }
    .button {
        align-self: center;
    }
    
    .button {
        width: 90px;
        height: 28px;
    }
    
} 


@media only screen and ( min-width: 480px) and ( max-width: 768px) {
    html {
        font-size: 12px;
    }
    .banner {
        height: auto;
    }
    .banner section {
        display: flex;
        flex-direction: column;
    }
    .banner .image {
        order: 2;
    }
    .banner .presentation-container {
        order: 1;
    }
    .banner .presentation {
        align-items: center;
        text-align: center;
    }
    .button {
        align-self: center;
    }
    
} 

@media screen and ( min-width: 768px) and ( max-width: 1024px) {
    html {
        font-size: 14px;
    }
    
    .button {
        width: 120px;
        height: 30px;
    }
} 

@media screen and ( min-width: 1024px) and ( max-width: 1600px) {
    html {
        font-size: 16px;
    }
} 

@media screen and ( min-width: 1600px) {
    
    html {
        font-size: 18px;
    }
    .button {
        width: 135px;
        height: 40px;
    }
} 